/* You can add global styles to this file, and also import other style files */
/*@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  /*font-family: "Josefin Sans", sans-serif !important;*/
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #ffe812 !important;
  color: #f4f4f4 !important;
}
.main-screen {
  padding: 0 var(--default-padding) !important;
}

